# Flask et extensions
Bootstrap-Flask==2.5.0
Flask==3.1.2
Flask-Reuploaded==1.4.0
Flask-WTF==1.2.2
WTForms==3.2.1
python-dotenv==1.2.1

# Label Studio
label-studio==1.23.0
label-studio-sdk==2.0.18

# Machine learning
ultralytics==8.4.82
scikit-learn==1.8.0

# Data
pandas==3.0.3
numpy==2.4.2
pyarrow==22.0.0

# Image processing
opencv-python==4.11.0.86
Pillow==12.0.0
matplotlib==3.10.5

# Utilitaires
requests==2.32.5
tqdm==4.67.1
PyYAML==6.0.2
python-slugify==8.0.4
regex==2024.11.6
nltk==3.9.1
urllib3==2.5.0