{% extends "pages/head_foot.html" %}
{% block body %}

<p>Entraînement terminé.</p>
<div style="display: flex; gap: 2%; justify-content: center; flex-wrap :wrap;">
    <figure style="text-align: center; max-width: 45%;">
           <img src="{{ url_for('files.serve_image', filename=chemin_matrice) }}"
           style="width: 100%; height: auto;">
           <figcaption>Matrice de confusion des résultats du modèle sur le jeu de validation</figcaption>
        </figure>
    <figure style="text-align: center; max-width: 45%;">
        <img src="{{ url_for('files.serve_image', filename=chemin_val_batch) }}"
        style="width: 100%; height: auto;">
           <figcaption>Détections sur une sélection d'images du jeu de validation</figcaption>
        </figure>
</div>

<p> Si vous souhaitez tester votre modèle sur un set d'images, uploadez les ci-dessous :</p>
    {% include "partials/upload2.html" %}

<p> Sinon vous pouvez : <a href="/"><button>Retourner à l'accueil</button></a></p>

{% endblock %}


