<head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TiamaT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"></head>

<h1 class = "top">
   <a href="/"><img src="{{ url_for('static', filename='Dingir.png') }}" style = "height:1em"></img></a> TiamaT – Toolkit for Integrated Annotation and Machine-learning Assisted Training
</h1>

{% block body %}
{% endblock %}

<h3 class = "foot">
Made with ❤️ by <a href="https://github.com/Chaouabti">Marion Charpier</a> and <a href="https://github.com/fant1-LB">Fantin Le Ber</a>, © 2023–2025 • Project <i>TiamaT</i></h3>