{% extends "pages/head_foot.html" %}
{% set etape_active = 2 %}
{% set sol_page = 'bleu' %}
{% block titre %}Configuration de Label Studio &middot; TiamaT{% endblock %}
{% block body %}

<div class="attente" data-sondage="{{ url_for('labeling.check_ls_status') }}" data-sondage-delai="2000">
  <p class="etiquette">Veuillez patienter</p>
  <h1>Configuration de Label Studio</h1>
  <p class="chapo">TiamaT importe vos images et prépare le projet dans Label Studio. Cette page se met à jour automatiquement, inutile de la recharger.</p>
  <img class="attente__gif" src="{{ url_for('static', filename='toothless-dance.gif') }}" alt="" aria-hidden="true">
</div>

{% endblock %}
