{% extends "pages/head_foot.html" %}
{% block body %}
<body>
    
<script>
// Polling : vérifie toutes les 2 secondes si LS est prêt
const interval = setInterval(function() {
    fetch("/check_ls_status")
        .then(response => {
            if (response.redirected) {
                clearInterval(interval);
                window.location.href = response.url;
            }
        })
        .catch(err => console.log("En attente de Label Studio...", err));
}, 2000);

</script>

<div> Vous travaillez actuellement dans le projet {{project_name}}.</div>
<div>⏳ Label Studio est en cours de configuration, merci de patienter...</div>
<!---<div> Dans label studio, dans votre projet, le chemin de stockage des images est {{chemin_images}} </div>
<div> Le chemin de stockage des annotations est {{chemin_labels}} </div>--->
<div>Une fois vos annotations terminées, cliquez 
    <button><a href="/dataset_statistics">ICI</a></button>
     pour passer à la suite.</div>
</body>
{% endblock %}