{% extends "pages/head_foot.html" %}
{% import "components/ui.html" as ui %}
{% set etape_active = 5 %}
{% set sol_page = 'ocre' %}
{% set bande_page = 'noir' %}
{% block principal_classe %}{% endblock %}
{% block titre %}Inférence en cours &middot; TiamaT{% endblock %}
{% block body %}
{{ ui.attente(
  "Inférence en cours",
  "Le modèle applique ses prédictions aux images envoyées. Cette page se met à jour automatiquement, inutile de la recharger.",
  url_for('testing.check_inference'), 20
) }}
{% endblock %}
