{% extends "pages/head_foot.html" %}
{% block body %}
<meta http-equiv="refresh" content="10;url={{ url_for('training.check_training_status') }}">

<h1>Entraînement en cours</h1>
<p>Veuillez patienter</p>
<p>Progression : {{ epoch if epoch else "Initialisation..." }}</p>
<div class="spinner">⏳</div>
{% if epoch %}
<progress 
    value="{{ epoch.split('/')[0] }}" 
    max="{{ epoch.split('/')[1] }}"
    style="text-align: center; width: 80%; height: 2em;">
</progress>
{% endif %}
<div style="text-align: center;">
    <img src="{{ url_for('static', filename='nyan-cat.gif') }}" style="height: 100px;">
</div>

{% endblock %}