<!DOCTYPE html>
<html>
<head>
    <title>Processing...</title>
    <meta http-equiv="refresh" content="20;url={{ url_for('training.check_training_status') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Entraînement en cours</h1>
    <p>Veuillez patienter</p>
    <div class="spinner">⏳</div>
    <marquee direction = "right">
        <img src="https://gist.githubusercontent.com/aviaryan/3f7c37d7af78e5bfcb4c7efa590f9cae/raw/8957088c2e31dba6d72ce86c615cb3c7bb7f0b0c/nyan-cat.gif">
    </marquee>
</body>
</html>